<header class="bg-[#5388b4] p-4 mt-2">
    <div class="lg:flex  lg:flex-row lg:space-x-4 lg:mt-0 mt-4 flex flex-col items-center justify-center text-xl">
        <a routerLink="/" class="text-white  px-4 py-2 hover:text-[#7c9965a9] hover:border-b-2 hover:border-[#7c9965a9] uppercase">GTA</a>
        <a routerLink="/game/fifa" class="text-white  px-4 py-2 hover:text-[#7c9965a4] hover:border-b-2 hover:border-[#7c9965a9] uppercase">FIFA</a>   
        <a routerLink="/" class="text-white  px-4 py-2  hover:text-[#7c9965a9] hover:border-b-2 hover:border-[#7c9965a9] uppercase">PES</a>
        <a routerLink="/game/gow" class="text-white  px-4 py-2  hover:text-[#7c9965a9] hover:border-b-2 hover:border-[#7c9965a9] uppercase">God of wars</a>
    </div>
</header>
<div>
    <router-outlet></router-outlet>
</div>